@using WebApplication2.Models;
@model Aluno;
@{
    ViewBag.Titulo = "Formulário";
    ViewBag.Name = "Editar Aluno";
}

<div class="container-fluid">

    <form class="form-Cadastrar" method="post">

        <div>
            <input type="hidden" asp-for="Id" />
        </div>

        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label class="form-label" asp-for="Nome">Nome: </label>
                    <input class="form-control" id="formGroupExampleInput" asp-for="Nome" />
                    <div class="error-danger">
                        @Html.ValidationMessageFor(m => m.Nome)
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="mb-3">
                    <label class="form-label" asp-for="Curso">Professor: </label>
                    <input class="form-control" id="formGroupExampleInput" asp-for="Curso" />
                    <div class="error-danger">
                        @Html.ValidationMessageFor(m => m.Curso)
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label class="form-label" asp-for="Email">E-mail:</label>
                    <input class="form-control" id="formGroupExampleInput" asp-for="Email" />
                    <div class="error-danger">
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="mb-3">
                    <label class="form-label" asp-for="Idade">Idade: </label>
                    <input class="form-control" id="formGroupExampleInput" asp-for="Idade" />
                    <div class="error-danger">
                        @Html.ValidationMessageFor(m => m.Idade)
                    </div>
                </div>
            </div>
        </div>
        <div class="d-grid gap-2 d-md-block mb-2">
            <button asp-controller="Home" asp-action="Adicionar" class="btn btn-success"><i class="fa-solid fa-pen"></i>@ViewBag.Botao</button>
            <a asp-action="Index" class="btn btn-secondary">Voltar</a>
        </div>
    </form>

</div>



