@using WebApplication2.Models;
@model List<Livro>;
@{
    ViewBag.Titulo = "Listar";
    ViewBag.Name = "Lista de Livros";
}

<a asp-action="Formulario"><button class="btn btn-secondary">Adicionar Livro</button></a>

    @if (TempData.ContainsKey("Alterado"))
    {
        bool valor = (bool)TempData["Alterado"];
        if (valor)
        {
            <p>@TempData["Mensagem"]</p>
        }
    }
<div>

    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Quantidade de páginas</th>
            <th>Ação</th>
        </tr>

        @foreach (var livro in Model)
        {
            @if (livro.Ativo == true)
            {
                <tr>
                    <td>@livro.Id</td>
                    <td>@livro.Nome</td>
                    <td>@livro.Preco</td>
                    <td>@livro.QtdPag</td>
                    <td>
                        <a asp-route-id="@livro.Id" asp-action="FormularioEditar" class="btn btn-secondary"><i class="fa-solid fa-pen"></i> Editar</a>
                        <a asp-route-id="@livro.Id" asp-action="FormularioExcluir" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i> Excluir</a>
                    </td>
                </tr>
            }
        }
    </table>
</div>
<a href="/Home/Index"><button class="btn btn-secondary">Voltar</button></a>