@using WebApplication2.Models;
@model Materia;
@{
    ViewBag.Titulo = "Descrição";
    ViewData["Name"] = "Descrição da Disciplina";
}


<div class="descricao">

    <p>Id: @Model.Id</p>

    <p>Nome: @Model.Name</p>

    <p>Professor: @Model.Professor</p>

    <p>Carga Horária: @Model.CargaHorario</p>

    <p>Descrição: @Model.Descricao</p>
</div>
<a asp-route-id="@Model.Id" asp-action="FormularioEditar" class="Editar"><i class="fa-solid fa-pen"></i> Editar</a>
<a asp-route-id="@Model.Id" asp-action="FormularioExcluir" class="Excluir"><i class="fa-solid fa-trash-can"></i> Excluir</a>
<br />
<br />
<a href="/Home/Index"><button class="botaoPadrao">Voltar</button></a>
