@using WebApplication2.Models;
@model Materia;
@{
    ViewBag.Titulo = "Descrição";
    ViewData["Name"] = "Descrição da Disciplina";
}


<div class="descricao">

     <p>Nome: @Model.Name</p>

    <p>Professor: @Model.Professor</p>

    <p>Carga Horária: @Model.CargaHorario</p>

    <p>Descrição: @Model.Descricao</p>
</div>
<a asp-route-id="@Model.Id" asp-action="FormularioEditar" class="btn btn-secondary"><i class="fa-solid fa-pen"></i> Editar</a>
<a asp-route-id="@Model.Id" asp-action="FormularioExcluir" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i> Excluir</a>
<br />
<br />
<a href="/Home/Index"><button class="btn btn-secondary">Voltar</button></a>
