@using WebApplication3.Models;
@model List<Aluno>;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Controle de Alunos</h1>
<hr />
<a asp-action="Formulario"><button class="botaoPadrao">Adicionar Aluno</button></a>
<div class="table">

    <table>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Curso</th>
            <th>E-mail</th>
            <th>Idade</th>
            <th>Ação</th>
        </tr>

        @foreach (var alunos in Model)
        {
            @if (alunos.Ativo == true)
            {
                <tr>
                    <td>@alunos.Id</td>
                    <td>@alunos.Name</td>
                    <td>@alunos.Curso</td>
                    <td>@alunos.Email</td>
                    <td>@alunos.Idade</td>
                    <td>
                        <a asp-route-id="@alunos.Id" asp-action="FormularioEditar" class="Editar"><i class="fa-solid fa-pen"></i> Editar</a>
                        <a asp-route-id="@alunos.Id" asp-action="FormularioExcluir" class="Excluir"><i class="fa-solid fa-trash-can"></i> Excluir</a>
                    </td>
                </tr>
            }
        }
    </table>
</div>
<a asp-action="Index"><button class="botaoPadrao">Voltar</button></a>